//- middleResult.jade

.col-lg-7
  .row
    .col-lg-12
      .panel(style='margin-top:2%;')
        .panel-heading.popular-pas
          .row
            .col-lg-12.col-md-12(style='font-size:16px;')
              p Popluar Passions
        //- |
        .panel-footer(style='background-color:white;font-size:14px;')
          .row
            .col-sm-10.col-md-10
              .advice
                a(href='') #Chef 
                a(href='') #Footballer 
                a(href='') #Coder 
                a(href='') #Poet 
                a(href='') #Dancer 
                a(href='') #Poet 
                a(href='') #Dancer 
                a(href='') #Poet 
                a(href='') #Framer 
                a(href='') #Keeper 
                a(href='') #Editor 
                a(href='') #Skater 
                a(href='') #basketball
            //- |
            //- |
            .col-lg-2.col-md-2.push-right
              i.fa.fa-user.awesome-color.fa-lg
  //- |
  //- |
  .panel.panel-default
    .panel-heading(style='color:#3b5998;font-size:15px;')
      i.fa.fa-clock-o.fa-fw
      //- | Search Results
    .panel-body
      ul.timeline
        .row
          .col-lg-6.col-md-6
            - for(var i=0; i<topUsers.length/2; i++){
              li
                .col-lg-12.col-md-12
                  .panel
                    .panel-heading
                      .row
                        .col-xs-3
                          img.img-circle(src='img/people/face1.jpg')
                        .col-xs-9.text-right
                          .huge 7364
                          div 
                            = "#" + topUsers[i]
                    a(href='#')
                      .panel-footer
                        span.pull-left
                          btn.btn.btn-primary.btn-sm(type='btn', onclick='LoadDoc()') Recognise
                        span.pull-right
                          i.fa.fa-arrow-circle-right
                        .clearfix
            - }
          
          .col-lg-6.col-md-6
            - for(var i=topUsers.length/2 ;i<topUsers.length; i++) {
              li
                .col-lg-12.col-md-12
                  .panel
                    .panel-heading
                      .row
                        .col-xs-3
                          img.img-circle(src='img/people/face1.jpg')
                        .col-xs-9.text-right
                          .huge 7364
                          div 
                            = "#" + topUsers[i]
                    a(href='#')
                      .panel-footer
                        span.pull-left
                          btn.btn.btn-primary.btn-sm(type='btn', onclick='LoadDoc()') Recognise
                        span.pull-right
                          i.fa.fa-arrow-circle-right
                        .clearfix
            - }
            
