doctype html(lang='en')
head
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    meta(name='description', content='')
    |     
    meta(name='author', content='')
    |     
    title TalHat Profile
    // Bootstrap Core CSS
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Timeline CSS
    link(href='css/timeline.css', rel='stylesheet')
    // Custom CSS
    link(href='css/profile_t.css', rel='stylesheet')
    |     
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
  body
    #wrapper
      // Navigation
      nav.navbar.navbar-default.navbar-static-top(role='navigation', style='margin-bottom: 0;background-color:')
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            |                     
            span.icon-bar
            |                     
            span.icon-bar
            |                     
            span.icon-bar
          |                 
          a.navbar-brand(href='index.html')
            img.logo(src='img/logo%20new.jpg')
        // /.navbar-header
        ul.nav.navbar-top-links.navbar-right
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              i.fa.fa-envelope.fa-fw
              |   
              i.fa.fa-caret-down
            |                     
            ul.dropdown-menu.dropdown-messages
              li
                a(href='#')
                  div
                    strong Karan
                    |                                     
                    span.pull-right.text-muted
                      em Yesterday
                  |                                 
                  div Hi their, it has been a long time since we have met, can we meet on Monday
              |                         
              li.divider
              |                         
              li
                a(href='#')
                  div
                    strong Lilli
                    |                                     
                    span.pull-right.text-muted
                      em Yesterday
                  |                                 
                  div How are you doing
              |                         
              li.divider
              |                         
              li
                a(href='#')
                  div
                    strong Rohit
                    |                                     
                    span.pull-right.text-muted
                      em Yesterday
                  |                                 
                  div
                    | Such a nice pleaseure to meet you, last time we had suhc a huge bash of party, can we dot that again.
              |                         
              li.divider
              |                         
              li
                a.text-center(href='#')
                  strong Read All Messages
                  |                                 
                  i.fa.fa-angle-right
            // /.dropdown-messages
          |              
          |             
          |             
          |                 
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              i.fa.fa-user.fa-fw
              |   
              i.fa.fa-caret-down
            |                     
            ul.dropdown-menu.dropdown-user
              li
                a(href='#')
                  i.fa.fa-user.fa-fw
                  |  User Profile
              |                         
              li
                a(href='#')
                  i.fa.fa-gear.fa-fw
                  |  Settings
              |                         
              li.divider
              |                         
              li
                a(href='login.html')
                  i.fa.fa-sign-out.fa-fw
                  |  Logout
        //- Left Passion Module
        include ./leftPassion.jade
        
      |         
      #page-wrapper
        .row
          //- Middle Result Module
          include ./middleResult.jade
      
          //- Right Profile Module      
          include ./rightProfile.jade
                // row
            // GALLERY
            .row
              .col-lg-12.col-md-12
                center
          
    script(src='js/jquery.js')
    script(src='js/bootstrap.js')
    script(src='profile-res/js/script.js')
