//- leftPassion.jade

.navbar-default.sidebar(role='navigation')
  .sidebar-nav.navbar-collapse
    ul#side-menu.nav
      li.sidebar-search
        .input-group.custom-search-form
          input.form-control(type='text', placeholder='Search...')
          
          span.input-group-btn
            button.btn.btn-default(type='button')
              i.fa.fa-search
        // /input-group
      
      li
        a(href='index.html')
          | #Coder
          span.badge 99
      
      li
        a(href='#')
          | #Artist
          span.badge 654
      
      li
        a(href='index.html')
          | #Footballer
          span.badge 087
      
      li
        a(href='index.html')
          | #Photographer
          span.badge 433
      
      li
        a(href='index.html')
          | #Dancer
          span.badge 995
      
      li
        a(href='index.html')
          | #Entreprenuer
          span.badge 073
      
      li
        a(href='index.html')
          | #Singer
          span.badge 875
      
      li
        a(href='index.html')
          | #Reader
          span.badge 056
      
      li
        a(href='index.html')
          | #Debater
          span.badge 997
      
      li
        a(href='index.html')
          | #Blogger
          span.badge 055
      
      li
        a(href='index.html')
          | #Comedian
          span.badge 096
      
      li
        a(href='index.html')
          | #Model
          span.badge 643
      
      li
        a(href='index.html')
          | #Shoe Designer
          span.badge 097
      
      li
        a(href='index.html')
          | #Cake Designer
          span.badge 876
      
      li
        a(href='index.html')
          | #Painter
          span.badge 098
      
      li
        a(href='index.html')
          | #Cartoonist
          span.badge 64
      
      li
        a(href='index.html')
          | #Civil Engineer
          span.badge 12
      
      li
        a(href='index.html')
          | #Doctor
          span.badge 009
      
      li
        a(href='index.html')
          | #Gamer
          span.badge 88
      
      li
        a(href='index.html')
          | #Cricketer 
          span.badge 86
      
      li
        a(href='index.html')
          | #Boxer
          span.badge 53
      
      li
        a(href='index.html')
          | #Badmitnon
          span.badge 12
      
      li
        a(href='index.html')
          | #Golfer
          span.badge 075
      
      li
        a(href='index.html')
          | #Swimmer
          span.badge 79
      
      li
        a(href='index.html')
          | #Surfer
          span.badge 556
      
  // /.sidebar-collapse
// /.navbar-static-side
