//- middleResult.jade

.col-lg-7
  .row
    .col-lg-12
      .panel(style='margin-top:2%;')
        .panel-heading.popular-pas
          .row
            .col-lg-12.col-md-12(style='font-size:16px;')
              p Popluar Passions
        //- |
        .panel-footer(style='background-color:white;font-size:14px;')
          .row
            .col-sm-10.col-md-10
              .advice
                a(href='') #Chef 
                a(href='') #Footballer 
                a(href='') #Coder 
                a(href='') #Poet 
                a(href='') #Dancer 
                a(href='') #Poet 
                a(href='') #Dancer 
                a(href='') #Poet 
                a(href='') #Framer 
                a(href='') #Keeper 
                a(href='') #Editor 
                a(href='') #Skater 
                a(href='') #basketball
            //- |
            //- |
            .col-lg-2.col-md-2.push-right
              i.fa.fa-user.awesome-color.fa-lg
  //- |
  //- |
  .panel.panel-default
    .panel-heading(style='color:#3b5998;font-size:15px;')
      i.fa.fa-clock-o.fa-fw
      //- | Search Results
    // /.panel-heading
    .panel-body
      ul.timeline
        .row
          .col-lg-6.col-md-6
            li
              .col-lg-12.col-md-12
                .panel
                  .panel-heading
                    .row
                      .col-xs-3
                        img.img-circle(src='img/people/face1.jpg')
                      //- |
                      .col-xs-9.text-right
                        .huge 7364
                        //- |
                        div #coder
                  //- |
                  a(href='#')
                    .panel-footer
                      span.pull-left
                        btn.btn.btn-primary.btn-sm(type='btn', onclick='LoadDoc()') Recognise
                      //- |
                      span.pull-right
                        i.fa.fa-arrow-circle-right
                      //- |
                      .clearfix
            //- |
            //- |
            li
              .col-lg-12.col-md-12
                .panel
                  .panel-heading
                    .row
                      .col-xs-3
                        img.img-circle(src='img/people/face2.jpg')
                      //- |
                      .col-xs-9.text-right
                        .huge 26
                        //- |
                        div #geneticist
                  //- |
                  a(href='#')
                    .panel-footer
                      span.pull-left
                        btn.btn.btn-primary.btn-sm(type='btn') Recognise
                      //- |
                      span.pull-right
                        i.fa.fa-arrow-circle-right
                      //- |
                      .clearfix
            //- |
            //- |
            li
              .col-lg-12.col-md-12
                .panel
                  .panel-heading
                    .row
                      .col-xs-3
                        img.img-circle(src='img/people/face3.jpg')
                      //- |
                      .col-xs-9.text-right
                        .huge 975
                        //- |
                        div #singer
                  //- |
                  a(href='#')
                    .panel-footer
                      span.pull-left
                        btn.btn.btn-primary.btn-sm(type='btn') Recognise
                      //- |
                      span.pull-right
                        i.fa.fa-arrow-circle-right
                      //- |
                      .clearfix
            //- |
            //- |
            li
              .col-lg-12.col-md-12
                .panel
                  .panel-heading
                    .row
                      .col-xs-3
                        img.img-circle(src='img/people/face4.jpg')
                      //- |
                      .col-xs-9.text-right
                        .huge 124
                        //- |
                        div #model
                  //- |
                  a(href='#')
                    .panel-footer
                      span.pull-left
                        btn.btn.btn-primary.btn-sm(type='btn') Recognise
                      //- |
                      span.pull-right
                        i.fa.fa-arrow-circle-right
                      //- |
                      .clearfix
            //- |
            //- |
            li
              .col-lg-12.col-md-12
                .panel
                  .panel-heading
                    .row
                      .col-xs-3
                        img.img-circle(src='img/people/Blogger.jpg')
                      //- |
                      .col-xs-9.text-right
                        .huge 09
                        //- |
                        div #blogger
                  //- |
                  a(href='#')
                    .panel-footer
                      span.pull-left
                        btn.btn.btn-primary.btn-sm(type='btn') Recognise
                      //- |
                      span.pull-right
                        i.fa.fa-arrow-circle-right
                      //- |
                      .clearfix
            //- |
            //- |
            li
              .col-lg-12.col-md-12
                .panel
                  .panel-heading
                    .row
                      .col-xs-3
                        img.img-circle(src='img/people/face_boxer.jpg')
                      //- |
                      .col-xs-9.text-right
                        .huge 09
                        //- |
                        div #biker
                  //- |
                  a(href='#')
                    .panel-footer
                      span.pull-left
                        btn.btn.btn-primary.btn-sm(type='btn') Recognise
                      //- |
                      span.pull-right
                        i.fa.fa-arrow-circle-right
                      //- |
                      .clearfix
          //- |
          //- |
          .col-lg-6.col-md-6
            li
              .col-lg-12.col-md-12
                .panel
                  .panel-heading
                    .row
                      .col-xs-3
                        img.img-circle(src='img/people/cake.jpg')
                      //- |
                      .col-xs-9.text-right
                        .huge 234
                        //- |
                        div #baker
                  //- |
                  a(href='#')
                    .panel-footer
                      span.pull-left
                        btn.btn.btn-primary.btn-sm(type='btn') Recognise
                      //- |
                      span.pull-right
                        i.fa.fa-arrow-circle-right
                      //- |
                      .clearfix
            //- |
            //- |
            //- |
            li
              .col-lg-12.col-md-12
                .panel
                  .panel-heading
                    .row
                      .col-xs-3
                        img.img-circle(src='img/people/dancer.jpg')
                      //- |
                      .col-xs-9.text-right
                        .huge 94
                        //- |
                        div #dancer
                  //- |
                  a(href='#')
                    .panel-footer
                      span.pull-left
                        btn.btn.btn-primary.btn-sm(type='btn') Recognise
                      //- |
                      span.pull-right
                        i.fa.fa-arrow-circle-right
                      //- |
                      .clearfix
            //- |
            //- |
            li
              .col-lg-12.col-md-12
                .panel
                  .panel-heading
                    .row
                      .col-xs-3
                        img.img-circle(src='img/people/Picture%207.jpg')
                      //- |
                      .col-xs-9.text-right
                        .huge 40
                        //- |
                        div #artist
                  //- |
                  a(href='#')
                    .panel-footer
                      span.pull-left
                        btn.btn.btn-primary.btn-sm(type='btn') Recognise
                      //- |
                      span.pull-right
                        i.fa.fa-arrow-circle-right
                      //- |
                      .clearfix
            //- |
            //- |
            //- |
            //- |
            li
              .col-lg-12.col-md-12
                .panel
                  .panel-heading
                    .row
                      .col-xs-3
                        img.img-circle(src='img/people/cake.jpg')
                      //- |
                      .col-xs-9.text-right
                        .huge 234
                        //- |
                        div #baker
                  //- |
                  a(href='#')
                    .panel-footer
                      span.pull-left
                        btn.btn.btn-primary.btn-sm(type='btn') Recognise
                      //- |
                      span.pull-right
                        i.fa.fa-arrow-circle-right
                      //- |
                      .clearfix
            //- |
            //- |
            //- |
            //- |
            li
              .col-lg-12.col-md-12
                .panel
                  .panel-heading
                    .row
                      .col-xs-3
                        img.img-circle(src='img/people/model.jpg')
                      //- |
                      .col-xs-9.text-right
                        .huge 24
                        //- |
                        div #model
                  //- |
                  a(href='#')
                    .panel-footer
                      span.pull-left
                        btn.btn.btn-primary.btn-sm(type='btn') Recognise
                      //- |
                      span.pull-right
                        i.fa.fa-arrow-circle-right
                      //- |
                      .clearfix
            //- |
            //- |
            //- |
            li
              .col-lg-12.col-md-12
                .panel
                  .panel-heading
                    .row
                      .col-xs-3
                        img.img-circle(src='img/people/Biker.jpg')
                      //- |
                      .col-xs-9.text-right
                        .huge 09
                        //- |
                        div #biker
                  //- |
                  a(href='#')
                    .panel-footer
                      span.pull-left
                        btn.btn.btn-primary.btn-sm(type='btn') Recognise
                      //- |
                      span.pull-right
                        i.fa.fa-arrow-circle-right
                      //- |
                      .clearfix
