li
  .col-lg-12.col-md-12
    .panel
      .panel-heading
        .row
          .col-xs-3
            img.img-circle(src='img/people/face1.jpg')
          //- |
          .col-xs-9.text-right
            .huge 7364
            //- |
            div #coder
      //- |
      a(href='#')
        .panel-footer
          span.pull-left
            btn.btn.btn-primary.btn-sm(type='btn', onclick='LoadDoc()') Recognise
          //- |
          span.pull-right
            i.fa.fa-arrow-circle-right
          //- |
          .clearfix
